env
auction/migrations
auction/__pycache__
users/migrations
users/__pycache__
mysite/__pycache__
.env
db.sqlite3
media
mysite/tests/__pycache__
auction/tests/__pycache__
users/tests/__pycache__